name: Manifests diff to PR comment

on: pull_request

jobs:
  diff-manifests:
    permissions:
      contents: read
      pull-requests: write
    uses: andreas-espelund/github-workflows/.github/workflows/manifest-diff-to-pr-comment.yaml@18b3e41333d7653b4a577f84f91a522f253741dc
